{% extends "base.html" %}
{% block head %}
{{ super() }}
<link href="static/assets/css/styleArticle.css" rel="stylesheet">
{% endblock %}

{% block content %}
{{ super() }}
<!------ Include the above in your HEAD tag ---------->
<section class="banner-section">
</section>
<section class="post-content-section">
  
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 post-title-block p-0">
        <h1 class="text-center">{{ title }}</h1>
        <ul class="list-inline text-center">
          <li>Author |</li>
          <li>Category |</li>
          <li>Date |</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card border-dark my-3">
          <div class="card-body">
            <h5 class="card-title">{{ textArticle }}</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
              content. This content is a little bit longer.</p>
            <img class="card-img-bottom" src="{{ imagePath }}" alt="Card image cap">
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

          </div>
        </div>
      </div>
    </div>
  </div> <!-- /container -->
</section>
{% endblock %}