{% extends "base.html" %}
{% block head %}
    {{ super() }}
      <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
{% endblock %}

{% block content %}
{{ super() }}
 <!-- ======= Home Section ======= -->
 <section id="home" class="d-flex flex-column justify-content-center">
  <div class="container" data-aos="zoom-in" data-aos-delay="100">
    <h1>SempreNews</h1>
    <p>Le notizie di <span class="typed" data-typed-items="Eventi, Calcio, Politica"></span></p>
    <div class="social-links">
      <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
      <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
      <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
      <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
      <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
    </div>
  </div>
</section><!-- End Home -->

<main id="main">
  <!-- ======= news Section ======= -->
  <section id="news" class="news">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>News</h2>
        <p>Ecco le principali notizie della giornata</p>
      </div>
      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/400x150.png?text=Immagine a solo scopo presentativo">
            <div class="card-body">
              <a href="{{ url_for('.hello', article=1) }}" class="card-title h5">Crisi di governo</a>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/400x150.png?text=Immagine a solo scopo presentativo">
            <div class="card-body">
              <a href="{{ url_for('.hello', article=2) }}" class="card-title h5">Mario Draghi presidente incaricato</a>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/400x150.png?text=Immagine a solo scopo presentativo">
            <div class="card-body">
              <a href="{{ url_for('.hello', article=3) }}" class="card-title h5">Vaccino pronto per essere
                somministrato</a>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content.</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="https://via.placeholder.com/400x150.png?text=Immagine a solo scopo presentativo">
            <div class="card-body">
              <a href="{{ url_for('.hello', article=4) }}" class="card-title h5">Nuove proteste per i ristori</a>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional
                content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>
  </section><!-- End news Section -->

  <!-- ======= Categorie Section ======= -->
  <section id="files" class="files">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Scarica i nostri PDF!</h2>
      </div>
      <div class="col-12 col-md-6">
        <div class="list-group">
          <a href="Eventi.pdf" class="list-group-item list-group-item-action">Eventi (184kB)</a>
          <a href="Sport.pdf" class="list-group-item list-group-item-action">Sport (977kB)</a>
          <a href="Politica.pdf" class="list-group-item list-group-item-action">Politica (2.9MB)</a>
        </div>
      </div>
    </div>
  </section><!-- End Categorie Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contatti" class="contatti">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Contatti</h2>
      </div>

      <div class="row mt-1">

        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="icofont-google-map"></i>
              <h4>Indirizzo:</h4>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>

            <div class="email">
              <i class="icofont-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="icofont-phone"></i>
              <h4>Cell:</h4>
              <p>+1 5589 55488 55s</p>
            </div>

          </div>

        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">

          <form role="form">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Il tuo nome"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="La tua Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Oggetto"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Scrivici qualcosa qui" placeholder="Messaggio"></textarea>
              <div class="validate"></div>
            </div>
            <div class="mb-3">
              <div class="loading" hidden>Loading</div>
              <div class="error-message" hidden></div>
              <div class="sent-message" hidden>Your message has been sent. Thank you!</div>
            </div>
            <div class="text-center"><button type="submit" class="btn btn-primary">Invia messaggio</button></div>
          </form>

        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}
 

